@inject PReMaSys.Data.ApplicationDbContext _context

@model PReMaSys.Models.SalesPerformance

@{
    ViewData["Title"] = "SalesPerformance";

    var employeeList = _context.SERecord.ToList();
}

<h1 class="mt-5 text-center mb-5">SalesPerformance</h1>
<!--<h4>SalesPerformance</h4>-->

<hr />

        <form asp-action="SalesPerformance" class="sp-form mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <select asp-for="SalesPerson" class="form-select form-select" aria-label=".form-select example" required
                        asp-items="@(new SelectList(employeeList,"EmployeeNo", "EmployeeFirstname"))">
                    <option value="">Select a Sales Person...</option>
                </select>
                <span asp-validation-for="SalesPerson" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
              @*  <label asp-for="UnitsSold" class="control-label"></label>*@
                <input asp-for="UnitsSold" placeholder="Units Sold" class="form-control" />
                <span asp-validation-for="UnitsSold" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
               @* <label asp-for="UnitType" class="control-label"></label>*@
                <input asp-for="UnitType"  placeholder="Units Type" class="form-control" />
                <span asp-validation-for="UnitType" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
               @* <label asp-for="Particulars" class="control-label"></label>*@
                <input asp-for="Particulars"  placeholder="Particular" class="form-control" />
                <span asp-validation-for="Particulars" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="CostPricePerUnit" class="control-label"></label>*@
                <input asp-for="CostPricePerUnit"  placeholder="Cost Per Unit" class="form-control" />
                <span asp-validation-for="CostPricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="SellingPricePerUnit" class="control-label"></label>*@
                <input asp-for="SellingPricePerUnit"  placeholder="Selling Price Unit" class="form-control" />
                <span asp-validation-for="SellingPricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="SalesVolume" class="control-label"></label>*@
                <input asp-for="SalesVolume"  placeholder="Sales Volume" class="form-control" />
                <span asp-validation-for="SalesVolume" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="ConversionR" class="control-label"></label>*@
                <input asp-for="ConversionR"  placeholder="Conversion R" class="form-control" />
                <span asp-validation-for="ConversionR" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="AverageDealSize" class="control-label"></label>*@
                <input asp-for="AverageDealSize"  placeholder="Average Deal Size" class="form-control" />
                <span asp-validation-for="AverageDealSize" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="CustomerAcquisition" class="control-label"></label>*@
                <input asp-for="CustomerAcquisition"  placeholder="Customer Acquisition" class="form-control" />
                <span asp-validation-for="CustomerAcquisition" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                @*<label asp-for="CustomerRetentionR" class="control-label"></label>*@
                <input asp-for="CustomerRetentionR"  placeholder="Customer Retention R" class="form-control" />
                <span asp-validation-for="CustomerRetentionR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="mb-3 mt-3">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="SPerformanceList"  class="btn btn-outline-success">Back to List</a>
               </div>
            </div>
        </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
