@model List<SalesPerformance>
@{
     Layout = "~/Views/Shared/_LayoutEmployeeLoggedin.cshtml";
    ViewData["Title"] = "Ranking Page";
 
}
<partial name="_EmployeePageTablePartial" />   
<h1 class="page-title-header text-center mt-5"> Employee Rankings</h1>

<table class="table table-hover border-success text-center mt-5" id="ranktable">
    <thead>
        <tr>
            <th>Sales Person</th>
            <th>Units Sold</th>
            <th>Sales Revenue</th>
            <th>Sales Profit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var performance in Model)
        {
            <tr>
                <td>@performance.SalesPerson</td>
                <td>@performance.UnitsSold</td>
                <td>@performance.SalesRevenue</td>
                <td>@performance.SalesProfit</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
    $('#ranktable').DataTable();
});
</script>